
.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.flex-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5%;
  color: white;
}

#Start {
  border-radius: 12px;
  width: 100%;
}

#TimerSection {
  width: 30%;
}

body {
  background-color: #fa4c58 !important;
}